In [6]:
R.version

               _
platform       x86_64-apple-darwin17.0
arch           x86_64
os             darwin17.0
system         x86_64, darwin17.0
status
major          4
minor          2.0
year           2022
month          04
day            22
svn rev        82229
language       R
version.string R version 4.2.0 (2022-04-22)
nickname       Vigorous Calisthenics

In [8]:
install.packages("BiocManager")
library(BiocManager)

 ダウンロードされたパッケージは、以下にあります
 	/var/folders/jf/m0wwswhs4f34xfl9dncp2s_40000gn/T//RtmpACKY3b/downloaded_packages

In [26]:
a = 1

print(5+2)
print(5-2)
print(5*2)
print(5**2)
print(5/2)
print(5%%3)
print(typeof(a))
if (a==1) {
    print("Yeah")
}
for (i in 2:4){
    print(i)
}

[1] 7
[1] 3
[1] 10
[1] 25
[1] 2.5
[1] 2
[1] "double"
[1] "Yeah"
[1] 2
[1] 3
[1] 4

In [67]:
# 配列 c()
x = c(1,2,4)
x
z = x*3
z
z = x+x
z

y = c("apple", 1, "orange", 2, "banana")
y
typeof(y)

[1] 1 2 4

[1]  3  6 12

[1] 2 4 8

[1] "apple"  "1"      "orange" "2"      "banana"

[1] "character"

In [33]:
# データフレーム data.frame( 列名1=c() , 列名2=c() )
df <- data.frame( col1=c(1, 2, 3), col2=c("A", "B", "C"))
print(df)
print(head(df,2))

  col1 col2
1    1    A
2    2    B
3    3    C
  col1 col2
1    1    A
2    2    B

In [89]:
df <- data.frame(col1 = c(1, 2, 3), col2 = c("A", "B", "C"), col3 = c(TRUE, FALSE, TRUE))
df

row1 = df[1,] # 行指定
row1

col2 = df[,2]  # 列指定
col2 = df$col2 # 列指定
col2

df = df[-1,-3] # 行&列 削除
df

colnames(df)

ERROR: Error in parse(text = x, srcfile = src): <text>:6:11:  想定外の数値定数です
5: row1
6: row1 = df$1
             ^

In [79]:
df = data.frame(col1 = c(1, 2, 3), col2 = c("A", "B", "C"), col3 = c(TRUE, FALSE, TRUE))
df

x = df[, c("col1","col2")] # 列をデータフレームとして抜き出し
x

y = df[,1:2]  # 列
y

y = df[1:2,]  # 行
y

  col1 col2 col3
1 1    A     TRUE
2 2    B    FALSE
3 3    C     TRUE

  col1 col2
1 1    A
2 2    B
3 3    C

  col1 col2
1 1    A
2 2    B
3 3    C

  col1 col2 col3
1 1    A     TRUE
2 2    B    FALSE

In [83]:
# データフレームを作成
df <- data.frame(col1 = c(1, 2, 3), col2 = c("A", "B", "C"), col3 = c(TRUE, FALSE, TRUE))
df

# 列名を変更
colnames(df) <- c("SampleA", "SampleB", "SampleC")
df

# 列名を変更 (足りないとNA)
colnames(df) <- c("SampleA", "SampleB")
df

  col1 col2 col3
1 1    A     TRUE
2 2    B    FALSE
3 3    C     TRUE

  SampleA SampleB SampleC
1 1       A        TRUE
2 2       B       FALSE
3 3       C        TRUE

  SampleA SampleB <NA>
1 1       A        TRUE
2 2       B       FALSE
3 3       C        TRUE

In [86]:
# readrライブラリの読み出し
library(readr)

# CSVファイルの読み込み
data <- read_csv("sample.csv")
data

# CSVファイルをデータフレームとして読み込み
data = as.data.frame(read_csv("sample.csv"))
data

Rows: 5 Columns: 3
── Column specification ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (1): name
dbl (2): id, age

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  id name    age
1 1  Alice   25
2 2  Bob     30
3 3  Charlie 35
4 4  David   40
5 5  Eve     45

In [ ]:
# readxlライブラリの読み出し
library(readxl)

# エクセルファイルの読み込み
df <- read_excel("example.xlsx")